apiVersion: apps/v1
kind: Deployment
metadata:
  name: reverseproxy
  namespace: udagram
  labels:
    app: reverseproxy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: reverseproxy
  template:
    metadata:
      labels:
        app: reverseproxy
    spec:
      containers:
        - name: reverseproxy
          image: georgendirangu/reverseproxy:v4
          resources:
            requests:
              memory: "750Mi"
            limits:
              memory: "750Mi"
          ports:
            - containerPort: 8080
